.profileScreen {
  height: 100vh;
  color: white;
}

.profileScreen_body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
}

.profileScreen_body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}
.profileScreen_info {
  display: flex;
}

.profileScreen_info > img {
  height: 100px;
}

.profileScreen_details {
  color: white;
  margin-left: 25px;
  flex: 1;
}
.profileScreen_details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen_plans {
  margin-top: 20px;
}

.profileScreen_signOut {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.profileScreen_posters {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: end;
}

.profileScreen_poster_title {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 50px;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.profileScreen_poster {
  display: flexbox;
  justify-content: center;
  max-height: 300px;
  margin: 10px;
  align-items: center;
  max-width: 200px;
}
.span_poste {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.profileScreen_poster_img {
  max-height: 230px;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
