.profile {
  height: 100vh;
  color: white;

  &_body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;

    > h1 {
      font-size: 60px;
      font-weight: 400;
      border-bottom: 1px solid #282c2d;
      margin-bottom: 20px;
    }
  }

  &_info {
    display: flex;
    > img {
      height: 100px;
    }
  }

  &_details {
    color: white;
    margin-left: 25px;
    flex: 1;

    > h2 {
      background-color: gray;
      padding: 15px;
      font-size: 15px;
      padding-left: 20px;
    }
  }

  &_plans {
    margin-top: 20px;
  }

  &_signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }

  &_posters {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: end;
  }

  &_poster {
    display: flexbox;
    justify-content: center;
    max-height: 300px;
    margin: 10px;
    align-items: center;
    max-width: 200px;
  }

  &_poster_title {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 50px;
    height: 50px;
    text-align: center;
  }

  &_poster_img {
    max-height: 230px;
  }
}

.span_poste {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
