.selection-banner {
  display: flex;
  flex-direction: column;
  padding: 0 0 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titleText {
  color: black;
  padding: 10px;
}

.subtitle {
  color: black;
  padding: 10px;
}

.continue {
  color: black;
  text-align: center;
  max-width: 440px;
  margin: 0 auto;
  padding: 10px;
}
.button {
  cursor: pointer;
  width: 100%;
  box-shadow: 0 1px 1px rgb(0 0 0 / 25%);
  border: none;
  font-weight: 400;
  font-size: 17px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 1;
  padding: 20px;
}

.button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.text {
  display: inline;
  vertical-align: middle;
  white-space: normal;
}

.checkmark {
  display: inline-block;
  vertical-align: middle;
  padding-right: 12px;
}
